<nav class="navbar navbar-expand">
    <a class="navbar-brand" href="#">
        <img src="{{ url('theme://img/logo.png')}}" alt="I&I" />
    </a>
    <div class="collapse navbar-collapse">
        <div class="my-dv">
            <ul class="navbar-nav me-auto mb-md-0 d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#">Who we are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How we think</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">What we do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">What will you get</a>
                </li>
            </ul>
        </div>
        <div class="ms-auto">
            <a
                    class="btn_primary"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"
            >
                <span class="btn-text">Contact us</span>
                <img src="{{ url('theme://img/contact-icon.png')}}" alt="" class="btn-logo" />
            </a>
        </div>
    </div>
</nav>